@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400+500,300italic,500italic|Ubuntu+Mono:400,700,400italic,700italic);

:root {
	font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 24px;
	/*text-align: center;*/
	background-color: white;
	background-repeat: no-repeat;
	color: #202020;
	line-height: 1.6;
	font-weight: 300;
	overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

header {
	line-height: 2;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 400;
}

@media print {
	:root {
		color: #000;
	}
}

.content {
	max-width: 40em;
	padding: 2em 4em;
	margin: 0 auto;
}

a, a:visited {
  color: #428bca;
}

a:hover {
  color: #3276b1;
}

:root::before {
	content: url(rust.png);
	position: absolute;
	top: -128px;
	right: -128px;
	width: 512px;
	height: 512px;
	opacity: 0.25;
	z-index: -1;
	display: block;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
}

h1 {
	margin: 0;
	font-size: 3rem;
	color: #666;
	font-weight: 300;
}

h1, h1 + p {
	text-shadow: 0 0 1px #e0e0da,
				 0 0 1px #e0e0da,
				 0 0 2px #e0e0da,
				 0 0 2px #e0e0da,
				 0 0 1rem #e0e0da,
				 0 0 2rem #e0e0da,
				 0 0 3rem #e0e0da,
				 0 0 4rem #e0e0da,
				 0 0 5rem #e0e0da;
}

h1 i {
	color: #333;
	font-style: normal;
	font-weight: 500;
}

#main h1 + p {
	margin: 0 0 1em;
	color: #000;
	font-size: 5rem;
}

#main h1 + p em {
	display: block;
	font-size: 1.5rem;
	font-weight: 300;
}

.pkg-list {
  list-style: none;
}

.pkg-name {
  margin-top: 2em;
  margin-right: 0.35em;
  font-weight: 400;
}

.pkg-meta {
  margin: 0;
}

.pkg-desc {
  font-size: 0.9em;
  margin: 0.1em 0 2em 0;
}

.pkg-link {
  font-size: 0.75em;
  opacity: 0.5;
  vertical-align: middle;
}

.pkg-link:hover {
  opacity: 0.8;
}


.meta {
    font-size: 0.6em;
    line-height: 0.5em;
    padding: 0;
    margin: 10px 0 0 0;
}

.level-indicator {
    font-weight: 300;
    font-size: 0.65em;
    vertical-align: middle;
    color: white;
}

.level-indicator .fa {
    color: #E4371B;
}

.level-indicator.level-0 .fa {
    color: #04EC04;
}

.level-indicator.level-1 .fa {
    color: #08C008;
}

.level-indicator.level-2 .fa {
    color: #00ab00;
}

.level-indicator.level-3 .fa {
    color: #026302;
}

.level-indicator.level-4 .fa {
    color: #E4B71B;
}

.level-indicator.level-5 .fa {
    color: #E4771B;
}

.topic-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.topic-list li {
    display: inline-block;
    padding: 5px;
}

.alert-box {
    margin: 4em 0;
    font-size: 0.95em;
    border: 1px solid #eadc3d;
    padding: 0.5em 2em;
    background: #fefce7;
}


footer {
	font-size: 80%;
  background-color: #FAFAFA;
	border-top: 1px solid #cba;
  margin-top: 5em;
  padding: 1em 4em 2em 4em;
}

@media screen and (max-width: 65em) {
	:root::before { opacity: 0.65; }
}

@media screen and (max-width: 50em) {
	:root { font-size: 20px; line-height: 1.5; }
	:root::before { opacity: 0.5; }
	body { padding: 1em 1.5em; }
	h1 + p { font-size: 4rem; }
}

@media screen and (max-width: 35em) {
	:root { font-size: 16px; }
	:root::before { opacity: 0.33; }
	footer { font-size: 1em; }
}
