<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<link rel=stylesheet href=/styles.css>
		<link href=/atom.xml type=application/atom+xml rel=alternate title="Atom feed (for state changes)">
		<title>Are we web yet? Getting there.</title>
    <link rel="stylesheet" href="/gh-fork-ribbon.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>
	<body>

  <div role="content" class="content">
    {{content}}
  </div>


    <footer>
      <div class="devider">
        <div class="logo">
          <a href="http://www.bashy.io" title="a Bashy Production">
            <img src="/assets/bashy-big.svg" alt="logo" />
          </a>
        </div>
        <div class="links">
          <ul class="pages">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
            <li>
              <a href="/help/">Help</a>
            </li>
            <li>
              <a href="/topics/">Topics</a>
            </li>
            <li>
              <a href="/curators/">Curators</a>
            </li>
            <li>
              <a href="https://github.com/bashyHQ/arewewebyet/#contributing">Contribute</a>
            </li>
          </ul>
        </div>
        <div class="call-to-action">

        </div>
      </div>
      <p class="last-updated">
        Copyleft {{site.time | date_to_string}} <a href="https://github.com/bashyHQ/arewewebyet/#license">CC-BY</a>
      </p>
    </footer>

	</body>
</html>
