<!DOCTYPE html>
<html lang=en itemscope itemtype="http://schema.org/Product">
	<head>
		<meta charset=utf-8>
		<link rel=stylesheet href=/assets/styles.css>
		<link href=/atom.xml type=application/atom+xml rel=alternate title="Atom feed (for state changes and news)">
		<title>{% if page.title %}{{page.title}} » AWWY?{% else %}Are we web yet? You can build stuff!{% endif %}</title>
    <meta name="description" content="AreWeWebYet gives insight on whether you can build your latest web-project on top of Rust" />

    <link rel="stylesheet" href="/assets/gh-fork-ribbon.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


     <!--  ALL THE STANDARDS for an image!-->
     <meta itemprop="image" content="http://www.arewewebyet.org/assets/screenshot.png">
     <meta name="twitter:image" content="http://www.arewewebyet.org/assets/screenshot.png">
     <meta property="og:image" content="http://www.arewewebyet.org/assets/screenshot.png" />

     <!-- Open Graph extra -->
     <meta property="og:site_name" content="Are We Web Yet?" />
	</head>
	<body>

  <div role="content" class="content">
    {{content}}
  </div>


    <footer>
      <div class="devider">
        <div class="logo">
          <a href="http://www.bashy.io" title="a Bashy Production">
            <img src="/assets/bashy-big.svg" alt="logo" />
          </a>
        </div>
        <div class="links">
          <ul class="pages">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/news/">News</a>
            </li>
            <li>
              <a href="/topics/">Topics</a>
            </li>
            <li>
              <a href="/curators/">Curators</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
            <li>
              <a href="https://github.com/bashyHQ/arewewebyet/#contributing">Contribute</a>
            </li>
          </ul>
        </div>
        <div class="call-to-action">

        </div>
      </div>
      <p class="last-updated">
        Copyleft {{site.time | date_to_string}} <a href="https://github.com/bashyHQ/arewewebyet/#license">CC-BY</a>
      </p>
    </footer>

  <script src="/assets/scripts.js"></script>
	</body>
</html>
