---
layout: frame
---

<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<h1>{{page.title}}  {% include level.html level=page.level%}</h1>


{% if page.intro %}
  {{page.intro | markdownify }}
{% endif %}

{{content}}

{% if page.packages %}
  {% include packages.html packages=page.packages %}
{% endif %}

{% if page.missing %}
  <h3>Still missing...</h3>
  <ul>
    {% for missed in page.missing %}
      <li> {{missed}} </li>
    {% endfor %}
    <li>
      and probably some others...
    </li>
  </ul>
{% endif %}

<div class="alert-box">
  <h3>Do you know something we don't?</h3>
  <p>Did we miss an important crate? Or maybe you just recently launched something that should be listed here, too? <a href="https://github.com/bashyHQ/arewewebyet/issues/new" target="_blank">Let us know</a>!
  </p>
</div>
